@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
}

#app {
    overflow-x: hidden;
    width: 100%;
}

.focus {
    outline: #6366f1 solid 2px;
}

.hover-effect:hover {
    outline: #6366f1 solid 2px;
    transition: outline 0.1s ease-in-out;
}